$color_primary1: #ff9a9e;
$color_primary2: #f6416c;
$color_primary3: #92a8d1;
$color_primary4: #034f84;
$color_primarytext: #fff;
$color_primaryborders: rgba(255, 255, 255, 0.35);
$color_startstop_border: rgba(255, 255, 255, 0.5);
$color_light_bg: rgba(255, 255, 255, 0.35);
