@import "../../assets//scss/import";

.task {
  list-style: none;
  margin: rem(10px) 0;
  border: 1px solid $color_startstop_border;
  border-radius: rem(40px);
  padding: 0 rem(16px);
  background-color: $color_primary1;
  display: flex;
  align-items: center;

  &--alternative-color {
    background-color: $color_primary3;
  }

  .cb-wrap {
    flex: 0 0 rem(41px);
    user-select: none;
    input {
      border: none;
    }
  }

  .task-title {
    flex: 1;
  }

  .function-wrap {
    flex: 0 0 rem(41px);
    text-align: center;
    user-select: none;

    .delete-btn {
      border: none;
      background-color: transparent;
      cursor: pointer;
      padding: 0;
    }

    .trash {
      width: rem(31px);
      height: auto;
    }
  }

  .cb-wrap,
  .function-wrap {
  }

  .rounded-btn {
    border-radius: 100%;
    background-color: $color_light_bg;
    width: rem(41px);
    height: rem(41px);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;

    img {
      width: rem(21px);
      height: auto;
    }

    &.highlighted {
      background: linear-gradient(135deg, $color_primary1, $color_primary2);
    }
  }

  input[type="checkbox"] {
    display: none;
  }

  .task-title {
    padding: 0 rem(20px);

    textarea {
      width: 100%;
      font-size: rem(47px);
      border: none;
      background-color: transparent;
      color: $color_primarytext;
      resize: none;
      font-family: Nunito, sans-serif;
      font-weight: bold;
      overflow-y: hidden;

      &::placeholder {
        color: rgba(255, 255, 255, 0.55);
      }
    }
  }

  .textarea {
    &:focus {
      outline: none !important;
    }
  }
}
