@import "../../assets/scss/import";

.btn-timerselect {
  background-color: transparent;
  padding: rem(13px) 0;
  border: 1px solid transparent;
  border-radius: rem(41px);
  color: $color_primarytext;
  font-size: rem(35px);
  cursor: pointer;
  margin: 0 rem(20px);
  width: rem(270px);

  &--selected {
    border: 1px solid $color_primarytext;
  }
}
