@import "../../assets/scss/import";

.app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  display: flex;
  justify-content: center;

  &--color-scheme-1 {
    background: linear-gradient(135deg, $color_primary1, $color_primary2);
  }

  &--color-scheme-2 {
    background: linear-gradient(135deg, $color_primary3, $color_primary4);
  }
}

.content-wrap {
  max-width: 1500px;
  flex-grow: 1;

  &::after {
    content: "";
    padding: rem(10px);
  }
}
